<div class="container py-5">
  <div class="row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3 text-secondary">
        Gestão Inteligente de Transporte
      </h1>
      <p class="lead text-muted">
        Bem-vindo ao sistema Urbana. Gerencie usuários, emita cartões de
        transporte e controle saldos de forma simples, rápida e segura.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a routerLink="/usuarios" class="btn btn-primary btn-lg px-4 me-md-2">
          <i class="bi bi-people-fill me-2"></i>Gerenciar Usuários
        </a>
        <a
          routerLink="/usuarios/novo"
          class="btn btn-outline-secondary btn-lg px-4"
        >
          <i class="bi bi-person-plus me-2"></i>Novo Cadastro
        </a>
      </div>
    </div>
    <div class="col-lg-6 text-center">
      <i class="bi bi-map text-primary" style="font-size: 10rem"></i>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card h-100 border-0 shadow-sm text-center p-4">
        <div class="card-body">
          <i class="bi bi-credit-card-2-front text-info fs-1 mb-3"></i>
          <h4 class="card-title">Cartões</h4>
          <p class="card-text text-muted">
            Emissão e controle de saldo para Comum, Estudante e Trabalhador.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 border-0 shadow-sm text-center p-4">
        <div class="card-body">
          <i class="bi bi-shield-check text-success fs-1 mb-3"></i>
          <h4 class="card-title">Segurança</h4>
          <p class="card-text text-muted">
            Controle de acesso e validação de CPF integrada.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 border-0 shadow-sm text-center p-4">
        <div class="card-body">
          <i class="bi bi-laptop text-warning fs-1 mb-3"></i>
          <h4 class="card-title">Tecnologia</h4>
          <p class="card-text text-muted">
            Desenvolvido com Angular 17 e Spring Boot Java 21.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
