<div
  class="container d-flex justify-content-center align-items-center"
  style="min-height: 90vh"
>
  <div class="card shadow-lg border-0" style="width: 100%; max-width: 400px">
    <div class="card-body p-4">
      <div class="text-center mb-4">
        <h3 class="fw-bold" style="color: #ff5722">Login Urbana</h3>
        <p class="text-muted small">Acesse sua conta para continuar</p>
      </div>

      <div
        *ngIf="mensagemErro"
        class="alert alert-danger text-center shadow-sm animate__animated animate__shakeX"
      >
        <i class="bi bi-exclamation-circle-fill me-2"></i> {{ mensagemErro }}
      </div>

      <form (ngSubmit)="entrar()" #loginForm="ngForm">
        <div class="mb-3">
          <label for="email" class="form-label fw-bold text-secondary small"
            >Email</label
          >
          <div class="input-group">
            <span class="input-group-text bg-light border-end-0">
              <i class="bi bi-envelope"></i>
            </span>
            <input
              type="email"
              class="form-control border-start-0 ps-0 bg-light"
              id="email"
              [(ngModel)]="loginData.email"
              name="email"
              required
              #emailField="ngModel"
              placeholder="ex: nome@email.com"
            />
          </div>
        </div>

        <div class="mb-4">
          <label for="senha" class="form-label fw-bold text-secondary small"
            >Senha</label
          >
          <div class="input-group">
            <span class="input-group-text bg-light border-end-0">
              <i class="bi bi-lock"></i>
            </span>
            <input
              type="password"
              class="form-control border-start-0 ps-0 bg-light"
              id="senha"
              [(ngModel)]="loginData.senha"
              name="senha"
              required
              #senhaField="ngModel"
              placeholder="Sua senha"
            />
          </div>
        </div>

        <div class="d-grid gap-2">
          <button
            type="submit"
            class="btn text-white fw-bold btn-lg shadow-sm"
            [disabled]="loginForm.invalid"
            style="background-color: #ff5722; border: none"
          >
            ENTRAR
          </button>
        </div>
      </form>

      <div class="text-center mt-4 pt-3 border-top">
        <p class="text-muted small mb-1">Ainda não tem acesso?</p>

        <a
          [routerLink]="['/inscreva-se']"
          class="text-decoration-none fw-bold"
          style="color: #ff5722; cursor: pointer; display: inline-block"
        >
          Criar uma conta agora
        </a>
      </div>
    </div>
  </div>
</div>
