<nav class="navbar navbar-expand-lg navbar-dark bg-urbana shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/home">
      <i class="bi bi-bus-front me-2"></i>URBANA
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="bi bi-house-door me-1"></i> Início
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/usuarios" routerLinkActive="active">
            <i class="bi bi-people me-1"></i> Usuários & Cartões
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
